<h1 style ="background-color :#003366; color: antiquewhite; margin-top: 5px; margin-bottom: 5px;" class="text-center">Bet Maker</h1>

<div style="margin-top: 5%;" class="container">
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary">Automate Betting</button>
    </div>
  </div>
<div style="margin-top: 10px; border-color: #003366; border-width: thick" >
  <div class="row" >
    <div class="col text-center">
      <button class="btn btn-danger">Place first Bet</button>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col text-center">
      <button class="btn btn-danger">Place second Bet</button>
    </div>
  </div>
</div>
</div>
