<%= form_for(@sure_bet) do |f| %>
  <% if @sure_bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sure_bet.errors.count, "error") %> prohibited this sure_bet from being saved:</h2>

      <ul>
      <% @sure_bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
