<h1>Listing sure_bets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sure_bets.each do |sure_bet| %>
  <tr>
    <td><%= link_to 'Show', sure_bet %></td>
    <td><%= link_to 'Edit', edit_sure_bet_path(sure_bet) %></td>
    <td><%= link_to 'Destroy', sure_bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sure bet', new_sure_bet_path %>
